body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
}

/* Own */

.global {
  display: grid;
  grid-template-columns: 10% 90%;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu button {
  margin-top: 10px;
}

.container-home, .container-dash, .container-objectives, .container-challenges {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  font-size: 18px;
}

.form-connect {
  margin-top: 25px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  width: 160px;
}

.input {
  margin-top: 15px;
}

.greetings {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: skyblue;
  font-size: 30px;
  margin-top: 25px;
}

.dashboard {
  margin-top: 25px;
}

.btn-dash {
  margin-top: 50px;
  width: 150px;
}

/* Activities Page */

.subtitle-activities {
  margin-top: 35px;
  margin-bottom: 20px;
}

.table-activities td {
  border: 1px solid grey;
  padding: 2px 30px 2px 30px;
}

.container-prog-bar {
  margin-top: 50px;
}

.prog-bar-global {
  display: inline-block;
  width: 300px;
  box-shadow: 0 0 6px grey;
  text-align: center;
}

.prog-bar-annotations {
  margin-left: 15px;
  display: inline-block;
}

/* Objectives Page */

.subtitle-objectives {
  margin-top: 35px;
  margin-bottom: 20px;
}

/* Set Objective */

.set-objective {
  margin-top: 50px;
  display: flex;
}

.btn-set-objective {
  margin-left: 15px;
}

.form-setObj {
  margin-left: 10px;
}

.input-setObj {
  margin-left: 10px;
  width: 100px;
}
