body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
}

/* Own */

.global {
  display: grid;
  grid-template-columns: 10% 90%;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu button {
  margin-top: 10px;
}

.container-home, .container-dash, .container-objectives, .container-challenges {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 20px;
  font-size: 18px;
}

.form-connect {
  margin-top: 25px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  width: 160px;
}

.input {
  margin-bottom: 8px;
  margin-top: 2px;
}

.btn-connection {
  margin-top: 10px;
}

.greetings {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: skyblue;
  font-size: 30px;
  margin-top: 25px;
}

.dashboard {
  margin-top: 25px;
}

.btn-dash {
  margin-top: 10px;
  width: 150px;
}

/* Activities Page */

.subtitle-activities {
  margin-top: 35px;
  margin-bottom: 20px;
}

.table-activities td {
  border: 1px solid grey;
  padding: 2px 30px 2px 30px;
}

.container-prog-bar {
  margin-top: 50px;
}

.prog-bar-global {
  display: inline-block;
  width: 300px;
  box-shadow: 0 0 6px grey;
  text-align: center;
}

.prog-bar-annotations {
  margin-left: 15px;
  display: inline-block;
}

/* Objectives Page */

.subtitle-objectives {
  margin-top: 35px;
  margin-bottom: 20px;
}

/* Set Objective */

.set-objective {
  margin-top: 50px;
  display: flex;
}

.btn-set-objective {
  margin-left: 15px;
}

.form-setObj {
  margin-left: 10px;
}

.input-setObj {
  margin-left: 10px;
  width: 100px;
}

.btn-delete-own-objective {
  margin-left: 50px;
}

/* Challenges Page */

.subtitle-challenges {
  margin-top: 35px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  max-height: 250px;
  overflow: hidden;
  text-align: center;
  margin: 8px 15px 8px 0;
  padding: 0 15px 10px 15px;
  box-shadow: 0 2px 6px grey;
}

.card-challenge:hover {
  background: radial-gradient(white, #CECECE);
  cursor: pointer;
}

.card-challenge h5 {
  text-decoration: underline;
}

.btn-add-challenge {
  margin-top: 50px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: radial-gradient(white, #CECECE);
}

.list-participants div i {
  margin-right: 10px;
}

.list-participants div:first-child i {
    color: gold;
}

.list-participants div:nth-child(2) i {
    color: silver;
}

.list-participants div:nth-child(3) i {
    color: goldenrod;
}

/* Set Form Challenge */

.form-setChallenge {
  margin-top: 25px;
}

.form-setChallenge div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-setChallenge {
  margin: 8px 0;
}

/* API Test Page */
.content-API {
  margin-top: 50px;
  text-align: center;
}
